<a href="https://colab.research.google.com/github/AlexandraBushueva/papka/blob/main/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82_1_%D0%98%D1%81%D1%81%D0%BB%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BD%D0%B0%D0%B4%D0%B5%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%B7%D0%B0%D0%B5%D0%BC%D1%89%D0%B8%D0%BA%D0%BE%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Исследование надежности заемщиков

**Описание проекта**

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Цель исследования:** изучить, какие факторы влияют на возврат кредитов в срок

**План исследования:**

1.   Изучение общей информации о данных:
- импорт данных
- изучение полей и их типов
2.   Предобработка данных:
- удаление пропусков
- обработка аномальных значений
- изменение типов данных
- обработка дубликатов
- категоризация данных
3. Исследование данных и ответы на вопросы:
- есть ли зависимость между количеством детей и возвратом кредита в срок
- есть ли зависимость между семейным положением и возвратом кредита в срок
- есть ли зависимость между уровнем дохода и возвратом кредита в срок
- как разные цели кредита влияют на его возврат в срок
4. Формирование общего вывода по исследованию

**Описание данных**

- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

## Этап 1. Изучение общей информации о данных

**Шаг 1.1 Импортируем библиотеку pandas. Считываем данные из csv-файла в датафрейм и сохраняем в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [ ]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Шаг 1.2. Выведем первые 20 строчек датафрейма `data` на экран.**

In [ ]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Шаг 1.3. Выведем основную информацию о датафрейме с помощью метода `info()`.**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Этап 2. Предобработка данных

### Удаление пропусков

**Шаг 2.1. Выведем количество пропущенных значений для каждого столбца.**

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Шаг 2.2. Заполним пропуски в  столбце `income_type` медианными значениями по типу занятости.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Шаг 2.3. Заменим все отрицательные значения в столбце `days_employed`положительными с помощью метода `abs()`.**

In [ ]:
data['days_employed'] = data['days_employed'].abs()

**Шаг 2.4. Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.**

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть.

**Шаг 2.5. Выведем перечень уникальных значений столбца `children`.**

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Шаг 2.6. В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Шаг 2.7. Ещё раз выведем перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Шаг 2.8. Заполним пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Шаг 2.9. Убедимся, что все пропуски заполнены. Выведем количество пропущенных значений для каждого столбца с помощью двух методов.**

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Шаг 2.10. Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [ ]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Шаг 2.11. Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру.**

In [ ]:
data['education'] = data['education'].str.lower()

**Шаг 2.12. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

### Категоризация данных

**Шаг 2.13. На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Шаг 2.14. Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Шаг 2.15. Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Этап 3. Исследование данных

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [ ]:
corr_children_debt = pd.DataFrame()
corr_children_debt['sum'] = data.groupby('children')['debt'].sum()
corr_children_debt['count'] = data.groupby('children')['debt'].count()
corr_children_debt['result'] = corr_children_debt['sum'] / corr_children_debt['count']
corr_children_debt['result'] = corr_children_debt['result'].map('{:.2%}'.format) #добавила строку, чтобы визуально было более читабельно
corr_children_debt.sort_values('result', ascending = False)

           sum  count result
children
4            4     41  9.76%
2          194   2052  9.45%
1          444   4808  9.23%
3           27    330  8.18%
0         1063  14091  7.54%
5            0      9  0.00%

In [ ]:
# Способ 2
# Создаем копию датасета, что бы не работать с исходным
temp = data.copy()
# Напишем функцию, так как все задачи аналогичны
def que(category):
    data_temp = temp.pivot_table(index=category, values='debt', aggfunc=['count', 'sum', 'mean'])
    data_temp.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
    # Оформим таблицу цветным градиентом, но можно ее вывести и просто display(data_temp)
    display(data_temp.style.format("{:.3f}").background_gradient(cmap='Blues', axis=0))

que('children')

**Вывод:**

По полученным данным мы видим, что существует зависимость между количеством детей и возвратом кредита в срок. Клиенты без детей чаще возвращают кредит в срок, что объясняется меньшим количеством финансовых обязательств, лежащих на клиенте.

Клиенты с 1, 2 детьмя чаще склонны к просрочке по платежам. Группы клиентов с количеством детей 3, 4, 5 сравнить будет некорректно из-за меньшей выборки клиентов.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
corr_family_status_debt = pd.DataFrame()
corr_family_status_debt['sum'] = data.groupby('family_status')['debt'].sum()
corr_family_status_debt['count'] = data.groupby('family_status')['debt'].count()
corr_family_status_debt['result'] = corr_family_status_debt['sum'] / corr_family_status_debt['count']
corr_family_status_debt['result'] = corr_family_status_debt['result'].map('{:.2%}'.format)
corr_family_status_debt.sort_values('result', ascending = False)

                       sum  count result
family_status
Не женат / не замужем  273   2796  9.76%
гражданский брак       385   4134  9.31%
женат / замужем        927  12261  7.56%
в разводе               84   1189  7.06%
вдовец / вдова          63    951  6.62%

**Вывод:**

Т.к. в сравниваемых показателях есть как *количественные*, так и *категориальные* переменные, был вычислен удельный вес клиентов в разрезе категорий семейного положения, имевших задолженность по кредиту, среди всех клиентов.

Анализ показывает, что клиенты со статусом "вдвовец/вдова" имеют наименьший риск просрочки. Но также важно обратить внимание, что это самая малочисленная группа среди всех клиентов из-за чего выводы не могут отражать всей действительности.

Наибольший риск представляют категории "не женат/не замужем" и "гражданский брак". Можно предположить, что люди этих категорий чувствуют меньше ответственности, т.к. не состоят в официальных отношениях, оформленных по закону.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [ ]:
corr_income_debt = pd.DataFrame()
corr_income_debt['sum'] = data.groupby('total_income_category')['debt'].sum()
corr_income_debt['count'] = data.groupby('total_income_category')['debt'].count()
corr_income_debt['result'] = corr_income_debt['sum'] / corr_income_debt['count']
corr_income_debt['result'] = corr_income_debt['result'].map('{:.2%}'.format)
corr_income_debt.sort_values('result', ascending = False)

                        sum  count result
total_income_category
E                         2     22  9.09%
C                      1353  15921  8.50%
A                         2     25  8.00%
B                       354   5014  7.06%
D                        21    349  6.02%

**Вывод:**

Продублируем обозначение категорий доходов:
- A - 1 000 001 и выше
- **B - 200 001–1 000 000**
- **C - 50 001–200 000**
- D - 30 001–50 000
- E - 0–30 000

Анализ удельных величин показал, что количество клиентов в группах с категорями дохода A, D, E является гораздо меньшим по сравнению с категориями B, C. Из чего нельзя сделать общие выводы по всей выборке из-за недостаточности данных.

Но если сравнить наиболее полные категорию B и C, то видим, что клиенты с большим доходом чаще возвращают кредит в срок.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [ ]:
corr_purpose_debt = pd.DataFrame()
corr_purpose_debt['sum'] = data.groupby('purpose_category')['debt'].sum()
corr_purpose_debt['count'] = data.groupby('purpose_category')['debt'].count()
corr_purpose_debt['result'] = corr_purpose_debt['sum'] / corr_purpose_debt['count']
corr_purpose_debt['result'] = corr_purpose_debt['result'].map('{:.2%}'.format)
corr_purpose_debt.sort_values('result', ascending = False)

                          sum  count result
purpose_category
операции с автомобилем    400   4279  9.35%
получение образования     369   3988  9.25%
проведение свадьбы        183   2313  7.91%
операции с недвижимостью  780  10751  7.26%

**Вывод:**

Наиболее рисковыми являются цели на операции с автомобилем и получение образования. Чаще возвращают деньги в срок клиенты, берущие кредит на операции с недвижимостью и проведение свадьбы. Видимо, кредиты на автомобиль и обучение несут дополнительные риски связанные или с возможной аварией, или с проблемами трудоустройства после обучения.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:*

1. Человеческий фактор. Сотрудник офиса, заполняющий сведения о клиенте, забыл внести необходимую информацию/ не сохранил внесенные данные / внес инфо в другое поле / внес некорректную информацию по формату или значению;
2. Организационный фактор. Конфиденциальность, могут отсутствовать данные, идентифицирующие отдельных лиц или компании;
3. Технический фактор. Система, в которую вносятся данные дала сбой.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*

Пропуски можно заполнить средним арифметическим показателем, однако он не учитывает разброс в данных. Чтобы нивелировать сильные колебания значений лучше использовать медианный показатель, который лучше всего отразит выборку в целом.

## Этап 4. Общий вывод.

В процессе проведенного исследования были проделаны следующие итерации с данными:

1. Найдены пропуски в поле ежемесячный доход клиента и заменены медианнымы значениеми;
2. Найдены и удалены аномальные значения в столбце дети (удалены строки со значением 20 и -1);
3. Обработаны неявные дубликаты в столбце education - изменен регистр;
4. Для удобства анализа были сгруппированы и категоризированы столбы ежемесячный доход и цели кредита.

По итогам исследования было выявлено, что на вероятность возврата кредита в срок клиентом влияют следующие факторы:

- семейное положение: у людей состоящих в браке в настоящий момент или в прошлом ниже риск невозврата кредита в срок;
- количество детей: чем меньше детей, тем больше вероятность возврата кредита в срок;
- цель кредита: чаще возвращают деньги в срок клиенты, берущие кредит на операции с недвижимостью и проведение свадьбы;
- уровень доходов: чем выше категория доходов, тем больше вероятность возврата кредита в срок.

Итого идеальный клиент: человек в браке (либо в прошлом был в браке) без детей, имеющий доход от 50 тыс. руб.

Чтобы предсказать вероятность возврата кредита в срок по клиентам необходимо учесть каждый из факторов в совокупности. Для практического применения необходимо каждому фактору присвоить удельный вес и построить скор-балл по каждому клиенту